# Libs used by BERTMap and AAExpansion:
# torch==1.13.1
# torchaudio==0.13.1
# torchvision==0.14.1
anytree==2.8.0
class-resolver==0.4.2
click==8.1.3
datasets==2.12.0
# To fix NotImplementedError: Loading a dataset cached in a LocalFileSystem is not supported.
fsspec==2023.4.0
dill==0.3.6
enlighten==1.11.2
Flask==3.0.0
huggingface-hub==0.14.1
ipykernel==6.22.0
ipywidgets==7.7.1
JPype1==1.4.1
lxml==4.9.2
# mowl library was removed. jpype1 was upgraded. jar files are loaded directly
# mowl-borg==0.1.0
networkx==3.1
nltk==3.8.1
numpy==1.24.3
openprompt==1.0.0
pandas==2.0.1
pprintpp==0.4.0
PyTrie==0.4.0
rdflib==6.3.2
# To fix rdflib.plugin.PluginException: No plugin registered for (Oxigraph, <class 'rdflib.store.Store'>)
oxrdflib==0.3.6
regex==2023.5.2
scikit-learn==1.2.2
scipy==1.10.1
spacy==3.4.4
scispacy==0.5.2
# -----------------------------------------
# TODO replace the local file with the url
# Install the spaCy model from the local directory
./en_core_sci_lg-0.5.1.tar.gz
# Install spaCy model from url
# https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz
# -----------------------------------------
textdistance==4.5.0
thefuzz==0.20.0
tokenizers==0.13.3
tqdm==4.65.0
transformers==4.28.1
wordninja==2.0.0
yacs==0.1.8
# =======================================
# =======================================
# =======================================
# Other libs extracted from conda env:
# aiohttp==3.8.4
# aiosignal==1.3.1
# alembic==1.10.4
# ansicon==1.89.0
# anyio==3.6.2
# argon2-cffi==21.3.0
# argon2-cffi-bindings==21.2.0
# arrow==1.2.3
# asttokens==2.2.1
# async-timeout==4.0.2
# attrs==23.1.0
# backcall==0.2.0
# backports.functools-lru-cache==1.6.4
# beautifulsoup4==4.12.2
# bleach==6.0.0
# blessed==1.20.0
# blis==0.7.9
# brotlipy==0.7.0
# catalogue==2.0.8
# certifi==2022.12.7
# cffi==1.15.1
# charset-normalizer==3.1.0
# cmaes==0.9.1
# click-default-group==1.2.2
# colorama==0.4.6
# colorlog==6.7.0
# comm==0.1.3
# confection==0.0.4
# conllu==4.5.3
# contourpy==1.0.7
# cryptography==40.0.2
# cycler==0.11.0
# cymem==2.0.7
# dataclasses-json==0.5.7
# debugpy==1.6.7
# decorator==5.1.1
# defusedxml==0.7.1
# Deprecated==1.2.13
# docdata==0.0.3
# executing==1.2.0
# fastjsonschema==2.16.3
# filelock==3.12.0
# fonttools==4.39.3
# fqdn==1.5.1
# frozenlist==1.3.3
# gensim==4.3.1
# greenlet==2.0.2
# idna==3.4
# importlib-metadata==6.6.0
# importlib-resources==5.12.0
# ipython==8.4.0
# ipython-genutils==0.2.0
# isodate==0.6.1
# isoduration==20.11.0
# jedi==0.18.2
# Jinja2==3.1.2
# jinxed==1.2.0
# joblib==1.2.0
# jsonpointer==2.3
# jsonschema==4.17.3
# jupyter_client==8.2.0
# jupyter_core==5.3.0
# jupyter-events==0.6.3
# jupyter_server==2.5.0
# jupyter_server_terminals==0.4.4
# jupyterlab-pygments==0.2.2
# jupyterlab-widgets==3.0.7
# kiwisolver==1.4.4
# langcodes==3.3.0
# Mako==1.2.4
# MarkupSafe==2.1.2
# marshmallow==3.19.0
# marshmallow-enum==1.5.1
# matplotlib==3.7.1
# matplotlib-inline==0.1.6
# mistune==2.0.5
# more-click==0.1.2
# more-itertools==9.1.0
# mpmath==1.3.0
# multidict==6.0.4
# multiprocess==0.70.14
# murmurhash==1.0.9
# mypy-extensions==1.0.0
# nbclassic==0.5.6
# nbclient==0.7.4
# nbconvert==7.3.1
# nbformat==5.8.0
# nest-asyncio==1.5.6
# nmslib==2.1.1
# notebook==6.5.4
# notebook_shim==0.2.3
# optuna==3.1.1
# packaging==23.1
# pandocfilters==1.5.0
# parso==0.8.3
# pathy==0.10.1
# pickleshare==0.7.5
# Pillow==9.4.0
# pip==23.1.2
# pkgutil_resolve_name==1.3.10
# platformdirs==3.5.0
# prefixed==0.7.0
# preshed==3.0.8
# prometheus-client==0.16.0
# prompt-toolkit==3.0.38
# protobuf==3.20.3
# psutil==5.9.5
# pure-eval==0.2.2
# py4j==0.10.9.7
# pyarrow==12.0.0
# pybind11==2.6.1
# pycparser==2.21
# pydantic==1.10.7
# Pygments==2.15.1
# pykeen==1.10.1
# pyOpenSSL==23.1.1
# pyoxigraph==0.3.19
# pyparsing==3.0.9
# pyrsistent==0.19.3
# pysbd==0.3.4
# PySocks==1.7.1
# pystow==0.5.0
# python-dateutil==2.8.2
# python-json-logger==2.0.7
# pytz==2023.3
# pywin32==306
# pywinpty==2.0.10
# PyYAML==6.0
# pyzmq==25.0.2
# rapidfuzz==3.2.0
# requests==2.29.0
# responses==0.18.0
# rexmex==0.1.3
# rfc3339-validator==0.1.4
# rfc3986-validator==0.1.1
# rouge==1.0.0
# Send2Trash==1.8.2
# sentencepiece==0.1.96
# setuptools==67.7.2
# six==1.16.0
# smart-open==6.3.0
# sniffio==1.3.0
# sortedcontainers==2.4.0
# soupsieve==2.4.1
# SQLAlchemy==2.0.12
# srsly==2.4.6
# stack-data==0.6.2
# spacy-legacy==3.0.12
# spacy-loggers==1.0.4
# sympy==1.11.1
# tabulate==0.9.0
# temp==2020.7.2
# tensorboardX==2.6
# terminado==0.17.1
# thinc==8.1.9
# threadpoolctl==3.1.0
# tinycss2==1.2.1# Causes conflict:
# torch-max-mem==0.0.5
# torch-ppr==0.0.8
# tornado==6.3.1
# traitlets==5.9.0
# typer==0.7.0
# typing_extensions==4.5.0
# typing-inspect==0.8.0
# tzdata==2023.3
# uri-template==1.2.0
# urllib3==1.26.15
# wasabi==0.10.1
# wcwidth==0.2.6
# webcolors==1.13
# webencodings==0.5.1
# websocket-client==1.5.1
# wheel==0.40.0
# widgetsnbextension==3.6.4
# win-inet-pton==1.1.0
# wrapt==1.15.0
# xxhash==3.2.0
# yarl==1.9.2
# zipp==3.15.0